/* Clearfix */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}
.clearfix {
    *zoom: 1;
}

/*Dropdown menu style*/

.content {
	background: #eef;
	padding: 5px;
	border: 1px gray dotted;
	font-size: 1.4em;
	float: left
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown:hover .dropbtn {
	background-color: lightblue;
	color: #636363;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.clearfix input[type=text] {
	float: none;
	display: block;
	text-align: left;
	width: 100%;
	margin: 0;
	padding: 14px;
	border: 1px solid #ccc;
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}
.clearfix #search-container {
	float: right;
}

.clearfix #search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.clearfix #search-container button:hover {
	background: #ccc;
}

/* Basic Styles */
body {
	background-color: #ece8e5;
}
nav {
	height: 40px;
	width: 100%;
	background: #455868;
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	position: relative;
	border-bottom: 2px solid #283744;
}

nav a {
	color: #fff;
	display: inline-block;
	width: 150px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav li a {
	border-right: 1px solid #576979;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: #8c99a4;
}
nav a#pull {
	display: none;
}

/*Styles for screen 600px and lower
@media screen and (max-width: 600px) {
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #576979;
		border-right: 1px solid #576979;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}

//Styles for screen 515px and lower
@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: #283744;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

//Smartphone
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
} */

/*CSS za mapata*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Spartan:wght@600;800&display=swap');

.tabela {
	float: left;
	border: solid;
	border-color: lightskyblue;
	position: relative;
	margin: 15px;
	height: 320px;
	width: 360px;
	margin-top: 70px;
}

.tabelaheader {
	font-size: x-large;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	padding-top: 15px;
}

button {
	width: 85px;
	font-size: 11px;
}

td {
	padding: 14px;
}

.mapouter {
	position: relative;
	text-align: right;
	height: 550px;
	width: 750px;
	float: left;
	margin: 15px;
}

.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 550px;
	width: 750px;
}